/**
 * This file auto-generated by Fern from our API Definition.
 */

import * as core from "../../../core";
import { PatchApi } from "../../..";
import urlJoin from "url-join";
import * as schemas from "../../../schemas";

export interface Client {
  retrieve(request: PatchApi.estimates.retrieve.Request): Promise<PatchApi.estimates.retrieve.Response>;
  retrieveList(): Promise<PatchApi.estimates.retrieveList.Response>;
  createFlightEstimate(): Promise<PatchApi.estimates.createFlightEstimate.Response>;
}

export declare namespace Client {
  interface Options {
    _origin: string;
    _token?: core.Supplier<core.BearerToken>;
  }
}

/**
 * Estimates allow API users to approximate the amount of CO₂ equivalent emitted by certain activities. It can also be used to get a quote for the cost of compensating a certain amount of CO₂ emissions.
 */
export class Client implements Client {
  constructor(private readonly options: Client.Options) {}

  public async retrieve(request: PatchApi.estimates.retrieve.Request): Promise<PatchApi.estimates.retrieve.Response> {
    const response = await core.fetcher({
      url: urlJoin(this.options._origin, `/estimates/${request.id}`),
      method: "GET",
      headers: {
        Authorization: core.BearerToken.toAuthorizationHeader(await core.Supplier.get(this.options._token)),
      },
    });
    if (response.ok) {
      return {
        ok: true,
        body: schemas.estimates.Estimate.parse(response.body as schemas.estimates.Estimate.Raw),
      };
    }

    return {
      ok: false,
      error: {
        errorName: undefined,
        content: response.error,
        _visit: (visitor) => visitor._other(response.error),
      },
    };
  }

  public async retrieveList(): Promise<PatchApi.estimates.retrieveList.Response> {
    const response = await core.fetcher({
      url: urlJoin(this.options._origin, "/estimates/"),
      method: "GET",
      headers: {
        Authorization: core.BearerToken.toAuthorizationHeader(await core.Supplier.get(this.options._token)),
      },
    });
    if (response.ok) {
      return {
        ok: true,
        body: schemas.estimates.retrieveList.Response.parse(response.body as schemas.estimates.Estimate.Raw[]),
      };
    }

    return {
      ok: false,
      error: {
        errorName: undefined,
        content: response.error,
        _visit: (visitor) => visitor._other(response.error),
      },
    };
  }

  public async createFlightEstimate(): Promise<PatchApi.estimates.createFlightEstimate.Response> {
    const response = await core.fetcher({
      url: urlJoin(this.options._origin, "/estimates/flight"),
      method: "POST",
      headers: {
        Authorization: core.BearerToken.toAuthorizationHeader(await core.Supplier.get(this.options._token)),
      },
    });
    if (response.ok) {
      return {
        ok: true,
        body: undefined,
      };
    }

    return {
      ok: false,
      error: {
        errorName: undefined,
        content: response.error,
        _visit: (visitor) => visitor._other(response.error),
      },
    };
  }
}
